{% extends 'passgenerator/base.html' %}
{% block content %}
<br>
<h3>
  <p id="intro">Passwords are a real security threat. Over 80% of hacking-related breaches are due to weak or stolen passwords, a recent report shows . So if you want to safeguard your personal info and assets, creating secure passwords is a big first step. And
    that’s where the this Password Generator can help. Impossible-to-crack passwords are complex with multiple types of characters (numbers, letters, and symbols). </p>
</h3>

<h3>
  <p id="intro">Making your passwords different for each website or app also helps defend against hacking.</p>
</h3>

<div class="text-center">
<h3 id="introclick"><a class="text-center" href="{% url 'takepass' %}">Click here to Generate Unique Passwords</a></h3>


</div>

<hr>
<br>

<h3>
  <p id="intro">Word count is an important metric for writing, especially in publishing, advertising, academia, and legal proceedings. By using this tool, you will be able to determine how many words there are in your text. You can then check to see if there
    are enough number of words or it has exceeded a certain limit. </p>
</h3>

<br>
<div class="text-center">
<h3 id="introclick" ><a class="text-center" href="{% url 'takecount' %}">Click here to Count the Words</a></h3>



</div>

<br>
<br>
{% endblock %}
