{% extends 'passgenerator/base.html' %}

{% block content %}
<br>
<h1 id="introclick" class="text-center">Password Generator</h1>
<br>

<div class="container  text-center">
<h6>  <form class="" action="{% url 'password' %}">
    <select class="" name="length">
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10" selected='selected'>10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
    </select> Length</h6>
    <h6> <input type="checkbox" name="uppercase" value="uppercase"> Uppercase</h6>
    <h6> <input type="checkbox" name="number" value="number">      Number</h6>
    <h6> <input type="checkbox" name="special" value="special"> Special Character</h6>
<br>
    <input type="submit" class="button button2" name="" value="Generate Password!">

  </form>

</div>
<br>
{% endblock %}
